.site-content {
  display: block;
	width: $size__site-main;
  box-model: border-box;
  padding-left:16px;
  padding-left:1rem;
  padding-right:16px;
  padding-right:1rem;
  @media(min-width:50em){
    width: 50em;
    margin:auto;
  }
}

.site-footer {
	clear: both;
	width: $size__site-main;
}