/* Webfont: BetecknaLowerCase */@font-face {
    font-family: 'BetecknaLowerCase';
    src: url('BetecknaLowerCase.eot'); /* IE9 Compat Modes */
    src: url('BetecknaLowerCase.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BetecknaLowerCase.woff') format('woff'), /* Modern Browsers */
         url('BetecknaLowerCase.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BetecknaLowerCase.svg#BetecknaLowerCase') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

