/* Webfont: BetecknaLowerCaseItalic */@font-face {
    font-family: 'BetecknaLowerCase';
    src: url('BetecknaLowerCaseItalic.eot'); /* IE9 Compat Modes */
    src: url('BetecknaLowerCaseItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BetecknaLowerCaseItalic.woff') format('woff'), /* Modern Browsers */
         url('BetecknaLowerCaseItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BetecknaLowerCaseItalic.svg#BetecknaLowerCaseItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

